* {
  margin: 0;
  padding: 0;
}

.container {
}

.header {
  margin-top: 40px;
  margin-bottom: 83px;
}

.header__logo {
  padding-top: 5px;
}

.header__link {
  padding-top: 11px;
}

.top__content {
  margin-top: 84px;
  margin-bottom: 260px;
}

.title {
  margin-top: 84px;
}

.text {
  margin-top: 17px;
}

.top__button {
  margin-top: 37px;
}

.top__logos {
  margin-top: 260px;
  margin-bottom: 96px;
}
